h1 {
    font-size: 72px;  
}

h2 {
    color: #6d00a8;
}

h4.job-title {
    color: maroon;
}

h2#menu {
    font-weight: bold;
    font-size: 30px;
    color: #718000;
}

a {
    color: purple;
}

h2#skills {
    color: blue;
}

/* .navlink {
    color: red;
} */